*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #ffcf00;
    font-weight: 500;
}
.App{
    background-color: black;
    min-height: 100vh;
}
.title{
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 20px 0;
}
.btn {
    width: 100%;
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    color: white;
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: hsl(236, 32%, 26%);
}
  
.btn::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffcf00;
    transform-origin: center right;
    border-radius: 4px;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}
  
.btn:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}

.btn--active{
    background-color: #ffcf00;
    color: black;
}

.btn--back{
    background-color: #ffcf00;
    color: black;
    width: 160px;
    margin-top: 30px;
}

footer{
    margin-top: 15px;
    color: white;
    text-align: center;
    padding-bottom: 15px;
}
  